# cx-junos-interop default config for AOS-CX SW01
# Role: L3 P2P toward vJunos vSW1 on 1/1/1, 10.0.0.1/30
configure terminal
interface 1/1/1
    no shutdown
    routing
    ip address 10.0.0.1/30
end
