# junos-to-cx-migration default config for vJunos vsw1 (spine1, set format)
# Role: L2 trunk spine. ge-0/0/0 -> cx1 leaf, ge-0/0/1 -> vsw2 (core). VLAN 10/20.
#       IRB SVIs as L3 gateways (.252). RSTP enabled to break the dual-homing loop.
set vlans VLAN10 vlan-id 10
set vlans VLAN20 vlan-id 20
set interfaces ge-0/0/0 unit 0 family ethernet-switching interface-mode trunk
set interfaces ge-0/0/0 unit 0 family ethernet-switching vlan members [ VLAN10 VLAN20 ]
set interfaces ge-0/0/1 unit 0 family ethernet-switching interface-mode trunk
set interfaces ge-0/0/1 unit 0 family ethernet-switching vlan members [ VLAN10 VLAN20 ]
set interfaces irb unit 10 family inet address 10.0.10.252/24
set interfaces irb unit 20 family inet address 10.0.20.252/24
set vlans VLAN10 l3-interface irb.10
set vlans VLAN20 l3-interface irb.20
set protocols rstp interface ge-0/0/0
set protocols rstp interface ge-0/0/1
