# cx-junos-core default config for AOS-CX cx2 (edge/leaf)
# Role: OSPF area 0 edge. 1/1/1 -> vsw2 (10.0.3.1/30). lo0 192.168.1.2/32 in area 0.
# Completion test: ping 192.168.1.2 (this loopback) from cx1.
configure terminal
hostname CX2
router ospf 1
    router-id 192.168.1.2
    area 0.0.0.0
interface loopback 0
    ip address 192.168.1.2/32
    ip ospf 1 area 0.0.0.0
interface 1/1/1
    no shutdown
    ip address 10.0.3.1/30
    ip ospf 1 area 0.0.0.0
    ip ospf network point-to-point
end
